<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PetHub Login</title>
</head>
<body>

    <form method="post">
        <div>
            <input
            name="userid"
            placeholder="Enter your userid"
            type="text"
            >
        </div>
        <div>
            <input
                    name="userid"
                    placeholder="Enter your userid"
                    type="text"
            >
        </div>

    </form>

</body>
</html>